.highlighted {
    background-color: #FFEBEE;
}
.container{
    width: 60rem;
}
.img1{
    padding: 1rem;
}
.name1{
    margin-top: 2rem;
}
.table-center td, .table-center th {
    text-align: center;
}
.navbar{
    border-radius: 8px;
    gap: 2rem;
}
