.container{
    width: 70%;
    padding: 20px;
    
}
.highlighted {
    background-color: #FFEBEE;
}  
.success-mes{
    background-color: #B83BAC;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
}
